<link rel="stylesheet" href="/css/seller/editStoreDetail.css" />
<div class="container mt-6 rounded">
  <form>
    <h1 class="fw-bold mb-5">스토어 정보</h1>

    <div class="input-group mb-4 rounded">
      <span class="input-group-text" id="inputGroup-sizing-default">스토어명</span>
      <input type="text" class="form-control" value="<%= storeDetail.storeName %>" />
    </div>
    <div class="mb-4 rounded">
      <label for="formFileLg" class="form-label fw-bold ml-1">스토어 대표사진 변경</label>
      <input class="form-control form-control" id="formFileLg" type="file" />
    </div>
    <div class="input-group mb-4 rounded">
      <span class="input-group-text" id="inputGroup-sizing-default">대표번호</span>
      <input type="text" class="form-control" value="<%= storeDetail.phoneNum %>" />
    </div>
    <div class="input-group mb-4 rounded">
      <span class="input-group-text" id="inputGroup-sizing-default">오픈시간</span>
      <input type="text" class="form-control" value="<%= storeDetail.operatingHour %>" />
    </div>
    <div class="input-group mb-4 rounded">
      <span class="input-group-text" id="inputGroup-sizing-default">스토어 위치</span>
      <input type="text" class="form-control" value="<%= storeDetail.storeLocation %>" />
    </div>
    <div class="input-group mb-4 rounded">
      <span class="input-group-text">스토어 설명</span>
      <textarea class="form-control"><%= storeDetail.info %></textarea>
    </div>
    
    <button type="submit" class="btn mb-2 ml-3" style="float: right">정보 수정하기</button>
  </form>
</div>
