<link rel="stylesheet" href="/css/seller/productList.css" />
<div class="container">
  <h1 class="fw-bold">
    상품 관리<button class="btn mb-2 ml-3 btn-n" onclick="location.href='/s/product/regist'">새 상품 등록하기</button>
  </h1>
  <hr />
  <div class="row gx-4 gx-lg-5">
    <% for (let i = 0; i < product.length; i++) { %>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center"><%= product[i].name %></h2>
          <img class="card-img" src="<%= product[i].image %>" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li>가격 : <%= product[i].price %>~</li>
              <li>소개 : <%= product[i].info %></li>
            </ul>
          </div>
          <button class="btn text-center bg-orange btn-sm" onclick="location.href='/s/product/<%= product[i].productId %>'">
            수정하기
          </button>
          <button class="btn text-center bg-brown btn-sm" style="display: inline-block">삭제하기</button>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
