<link
  rel="stylesheet"
  type="text/css"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css"
/>
<link rel="stylesheet" href="/css/seller/storeMain.css" />

<div class="container" style="margin-left: 10%; margin-top: 5%">
  <div class="row mb-3 gx-5" style="flex-wrap: nowrap">
    <div class="col-md-6 mr-3 pt-3 rounded" style="background: white">
      <b><h4 class="fw-bold mb-3">제품순위</h4></b>
      <div class="row">
        <% for (let i = 0; i < productRank.length; i++) { %>
        <div class="col-md-4">
          <div class="card profile-card-5">
            <div class="card-img-block">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c" />
            </div>
            <div class="card-body pt-0">
              <p class="card-text text-center">
                <i class="fas fa-crown color1"></i> &nbsp<%= i+1 %>위 <br /><%= productRank[i].productName %><br />
                (<%= productRank[i].orderCnt %>건)
              </p>
            </div>
          </div>
        </div>
        <% } %>
      </div>

      <!-- <ul class="pl-3">
        <% for (let i = 0; i < productRank.length; i++) { %>
        <li><%= i+1 %>위 : <%= productRank[i].productName %> (<%= productRank[i].orderCnt %>건)</li>
        <% } %>
      </ul> -->
    </div>
    <div class="col-md-6 pt-3 rounded" style="background: white">
      <h4 class="fw-bold">
        <span>승인 대기 주문 건 (<% if ( recentOrder.length > 0 ) { %><%= recentOrder[0].orderCount %><% } else { %>0<% } %>건)</span>
        <button class="btn btn-sm ml-3 mb-2" style="background-color: #ffdb88">주문목록 확인하기</button>
      </h4>
      <div class="row">
        <% for (order of recentOrder) { %>
        <div class="col-xl-6 col-sm-6 col-12 mt-0">
          <div class="card">
            <div class="card-content">
              <div class="card-body bg py-0">
                <div class="media d-flex">
                  <div class="media-body text-left">신규 <%= order.productName %> 주문</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="row" style="flex-wrap: nowrap">
    <div class="col-md-6 mr-3 pt-3 rounded" style="background: white">
      <b><h4 class="fw-bold">최근 7일 주문 수</h4></b>
      <canvas id="barChart"></canvas>
      <script>
        let ctxB = document.getElementById('barChart').getContext('2d');
        let today = new Date();
        let year = today.getFullYear();
        let month = today.getMonth() + 1;
        let date = today.getDate();
        let myBarChart = new Chart(ctxB, {
          type: 'bar',
          data: {
            labels: [
              '<%= orderCount[0].orderDate %>',
              '<%= orderCount[1].orderDate %>',
              '<%= orderCount[2].orderDate %>',
              '<%= orderCount[3].orderDate %>',
              '<%= orderCount[4].orderDate %>',
              '<%= orderCount[5].orderDate %>',
              '<%= orderCount[6].orderDate %>',
            ],
            datasets: [
              {
                label: '판매수',
                data: [
                  '<%= orderCount[0].orderCnt %>',
                  '<%= orderCount[1].orderCnt %>',
                  '<%= orderCount[2].orderCnt %>',
                  '<%= orderCount[3].orderCnt %>',
                  '<%= orderCount[4].orderCnt %>',
                  '<%= orderCount[5].orderCnt %>',
                  '<%= orderCount[6].orderCnt %>',
                ],
                backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(0,235,12,0.2)',
                ],
                borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(0,138,7,1)',
                ],
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              yAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                  },
                },
              ],
            },
          },
        });
      </script>
    </div>
    <div class="col-md-6 pt-3 rounded" style="background: white">
      <b><h4 class="fw-bold">통계</h4></b>
      <div class="row no-gutters">
        <div class="col-xl-6 col-sm-6 col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="fas fa-receipt info font-large-2 float-left"></i>
                  </div>
                  <div class="media-body text-right">
                    <h4><%= statistic.orderCnt %>건</h4>
                    <span>이번달 주문 수</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-sm-6 col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="fas fa-won-sign success font-large-2 float-left"></i>
                  </div>
                  <div class="media-body text-right">
                    <h4><%= statistic.totalSum %>원</h4>
                    <span>이번달 판매액</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-xl-6 col-sm-6 col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="far fa-question-circle warning font-large-2 float-left"></i>
                  </div>
                  <div class="media-body text-right">
                    <h4><%= statistic.inquiryCnt %>건</h4>
                    <span>이번달 문의수</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-sm-6 col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="fas fa-heart danger font-large-2 float-left"></i>
                  </div>
                  <div class="media-body text-right">
                    <h4><%= statistic.reviewCnt %>건</h4>
                    <span>이번달 리뷰수</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
