<link rel="stylesheet" href="/css/consumer/main.css" />
<div class="banner">
  <div><img src="/img/celebbanner.png" /></div>
  <div><img src="/img/halloweenbanner.png" /></div>
  <div><img src="/img/nonebanner.png" /></div>
</div>
<script type="text/javascript">
  $('.banner').slick({
    autoplay: true,
    autoplaySpeed: 2200,
  });
</script>

<div class="container-fluid" style="margin-top: 5%">
  <div class="row">
    <div class="col">
      <a href="/category/1"> <img class="category-image" src="/img/cat-cake-transparent.png" /></a>
      <b class="caption">레터링 케이크</b>
    </div>
    <div class="col">
      <a href="/category/2"> <img class="category-image" src="/img/cat-flower-transparent.png" /></a>
      <b class="caption">꽃다발</b>
    </div>
    <div class="col">
      <a href="/category/3"><img class="category-image" src="/img/도자기-transparent.png" /></a>
      <b class="caption">수공예품</b>
    </div>
    <div class="col">
      <a href="/category/4"> <img class="category-image" src="/img/cat-phonecase-transparent.png" /></a>
      <b class="caption">핸드폰 케이스</b>
    </div>
    <div class="col">
      <a href="/category/5"> <img class="category-image" src="/img/cat-gift-transparent.png" /></a>
      <b class="caption">선물</b>
    </div>
  </div>
</div>

<div class="container">
  <div class="card mb-2">
    <div class="card-body" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px">
      <div class="card-text text-center fs-2 fw-bold">인기 스토어 TOP 9</div>
    </div>
  </div>
  <div class="row gx-4 gx-lg-5">
    <% for (let i = 0; i < popularStore.length; i++) { %>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title text-center"><%= popularStore[i].name %></h3>
          <img class="card-img" src="<%= popularStore[i].image %>" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i> 평점 : <%= popularStore[i].star %> / 5</li>
              <li><i class="xi-maker" style="color: red"></i> 위치 : <%= popularStore[i].location %></li>
              <li><i class="xi-time-o"></i> 영업시간 : <%= popularStore[i].operatingHour %></li>
              <li><i class="xi-truck"></i> 픽업/배달 : <%= popularStore[i].type %></li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto bg text-center btn-sm" href="/store/<%= popularStore[i].storeId %>">상품 보기</a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<hr />
<div class="footer"></div>
