<link rel="stylesheet" href="/css/consumer/orderFinish.css" />
<!-- <script language="javascript">
  function Timer() {
    setTimeout('locateMP()', 5000);
  }
  function locateMP(a) {
    location.replace('/mypage');
  }
  cnt = 5;
  function countdown() {
    if (cnt == 0) {
      locateMP();
    } else {
      document.all.choonDiv.innerHTML = cnt + '초후에 마이페이지로 이동이 됩니다..';
      setTimeout('countdown()', 1000);
      cnt--;
    }
  }
</script> -->
<!-- <div class="box text-center">
  <div class="box-text">
    <p>주문이 완료되었습니다 !</p>

      <script>
        countdown();
      </script>
  </div>
</div> -->
<div class="container text-center">
  <div class="card text-center">
    <div class="card-header">
      <h2 class="card-title fw-bold">주문이 완료되었습니다 !</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title fw-bold">스토어명</h5>
      <p class="card-text"><%= orderDetail.storeName %></p>
      <h5 class="card-title fw-bold">제품명</h5>
      <p class="card-text"><%= orderDetail.productName %></p>
      <h5 class="card-title fw-bold">옵션 확인</h5>
      <p class="card-text">
        <% for (let option of orderDetail.options.split(',')) { %>
        <div><%= option %></div> 
        <% } %>
      </p>
      <h5 class="card-title fw-bold">도안 확인</h5>
      <% if (orderDetail.designUrl) { %>
        <P class="card-img"><img src="<%= orderDetail.designUrl %>" width="300"/></P>
      <% } else { %> 
        <p class="card-text">없음</p>  
      <% } %>
      <h5 class="card-title fw-bold">나의 요청사항</h5>
      <% if (orderDetail.requirements) { %>
        <p class="card-text"><%= orderDetail.requirements %></p>
      <% } else { %> 
        <p class="card-text">없음</p>  
      <% } %>
      <h5 class="card-title fw-bold">픽업 날짜</h5>
      <p class="card-text"><%= orderDetail.selectedDate %></p>
      <h4 class="fw-bold">총 결제금액 : <%= orderDetail.totalPrice %></h4>
    </div>
    <div class="card-footer"><a class="btn btn-warning btn-lg d-grid mx-auto" href="/mypage">마이페이지로 이동하기</a></div>
  </div>
</div>
