<div class="container-fluid mt-3">
    <h1>"<%= keyword %>"의 검색 결과</h1>
<!-- <br>
<% if (result.length > 0) { %><% for (post of result) { %>
<div><%= post.storeName %></div>
<% } %><% } else { %>
<div>검색 결과가 없습니다.</div>
<% } %>
</div> -->

<div class="row gx-4 gx-lg-5">
    <% if (result.length > 0) { %><% for (post of result) { %>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title text-center"><%= post.storeName %></h3>
          <img class="card-img" src="<%= popularStore[i].image %>" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i> 평점 : <%= popularStore[i].star %> / 5</li>
              <li><i class="xi-maker" style="color: red"></i> 위치 : <%= popularStore[i].location %></li>
              <li><i class="xi-time-o"></i> 영업시간 : <%= popularStore[i].operatingHour %></li>
              <li><i class="xi-info"></i> 픽업/배달 : <%= popularStore[i].type %></li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto text-center btn-primary btn-sm" href="/store/<%= popularStore[i].storeId %>">상품 보기</a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  </div>