<link rel="stylesheet" href="/css/consumer/storeDetail.css" />

<div class="container px-4 px-lg-5">
  <div class="container">
    <div class="row my-5">
      <div class="col-lg-5">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="<%= storeDetail.image %>" alt="..." />
      </div>

      <div class="col-lg-7 rounded" id="storeInfo">
        <h1 class="font-weight-light"><%= storeDetail.name %></h1>
        <ul>
          <li>
            <i class="xi-star" style="color: #fcba03"></i>평점 : <%= storeDetail.star %> / 5
            <a class="btn btn-sm btn-warning ml-3" href="/store/<%= storeDetail.storeId %>/review">리뷰보기</a>
          </li>
          <li><i class="xi-maker" style="color: red"></i>위치 : <%= storeDetail.location %></li>
          <li><i class="xi-time-o"></i>영업시간 : <%= storeDetail.operatingHour %></li>
          <li><i class="xi-call"></i>전화번호 : <%= storeDetail.phoneNum %></li>
          <li><%= storeDetail.info %></li>
        </ul>
        <a class="btn btn-lg btn-warning" style="float: right" href="/store/<%= storeDetail.storeId %>/inquiry">문의하기</a>
      </div>
    </div>
  </div>
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0"><i class="fas fa-exclamation"></i> <공지사항> <%= storeDetail.notice %></p>
    </div>
  </div>
  <div class="row gx-4 gx-lg-5">
    <% for (let i = 0; i < product.length; i++) { %>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center"><%= product[i].name %></h2>
          <img class="card-img" src="<%= product[i].image %>" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li>가격 : <%= product[i].price %>~</li>
              <li>소개 : <%= product[i].info %></li>
            </ul>
          </div>
          <a
            class="btn d-grid mx-auto text-center btn-primary btn-sm"
            href="/store/<%= storeDetail.storeId %>/product/<%= product[i].productId %>"
            >주문하기</a
          >
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
