<link rel="stylesheet" href="/css/consumer/storeReview.css" />
<div class="container-fluid rate-status">
  <span class="heading"><%= storeReview.storeName %></span>
  <% for (let i = 1; i <= storeReview.averageScore; i++) { %>
  <span class="fa fa-star checked"></span>
  <% } for (let i = 0; i < 5 - storeReview.averageScore; i++) { %>
  <span class="fa fa-star"></span>
  <% } %>
  <span class="heading"><%= storeReview.averageScore %></span>
  <p>
    최근 리뷰 <%= storeReview.reviewCount %>건
    <button class="btn btn-outline-warning btn-sm ml-2">리뷰쓰기</button>
  </p>
  <hr style="border: 3px solid #f1f1f1" />

  <div class="row">
    <div class="side right">
      <div>5점</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar" id="bar-5"></div>
      </div>
    </div>
    <div class="side left">
      <div><%= storeReview.count5 %></div>
    </div>
    <div class="side right">
      <div>4점</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar" id="bar-4"></div>
      </div>
    </div>
    <div class="side left">
      <div><%= storeReview.count4 %></div>
    </div>
    <div class="side right">
      <div>3점</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar" id="bar-3"></div>
      </div>
    </div>
    <div class="side left">
      <div><%= storeReview.count3 %></div>
    </div>
    <div class="side right">
      <div>2점</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar" id="bar-2"></div>
      </div>
    </div>
    <div class="side left">
      <div><%= storeReview.count2 %></div>
    </div>
    <div class="side right">
      <div>1점</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar" id="bar-1"></div>
      </div>
    </div>
    <div class="side left">
      <div><%= storeReview.count1 %></div>
    </div>
  </div>
  <script>
    document.getElementById('bar-5').style.width = '<%= storeReview.count5 / storeReview.reviewCount * 100 %>%';
    document.getElementById('bar-4').style.width = '<%= storeReview.count4 / storeReview.reviewCount * 100 %>%';
    document.getElementById('bar-3').style.width = '<%= storeReview.count3 / storeReview.reviewCount * 100 %>%';
    document.getElementById('bar-2').style.width = '<%= storeReview.count2 / storeReview.reviewCount * 100 %>%';
    document.getElementById('bar-1').style.width = '<%= storeReview.count1 / storeReview.reviewCount * 100 %>%';
  </script>
  <hr style="border: 3px solid #f1f1f1" />
  <div class="row px-4">
    <% for (review of reviews) { %>
    <div class="col-md-6 my-3">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="icon"><img src="/img/avatar.svg" /></div>
            <div class="ms-2 c-details">
              <h6 class="mb-0"><%= review.userName %></h6>
              <span><%= review.reviewAt %></span>
              <span>
                <% for (let i = 0; i < review.reviewScore; i++) { %>
                <i class="fas fa-star checked"></i>
                <% } for (let i = 0; i < 5 - review.reviewScore; i++) { %>
                <i class="fas fa-star"></i>
                <% } %>
              </span>
            </div>
          </div>
          <!-- <div class="badge"> <span>Design</span> </div> -->
        </div>
        <div class="mt-5">
          <% if (review.reviewImage) { %>
          <img class="reviewImage" src="<%= review.reviewImage %>" alt="리뷰 사진" />
          <% } %>
          <p><%= review.reviewContents %></p>
          <p><div>-> <b>스토어 답변</b>  <%= review.replyAt %></div>
          <div><%= review.replyContents %></div></p>
          <div class="mt-5">
            <div class="mt-3"><span class="text2"><%= review.productName %></span></div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
