<link rel="stylesheet" href="/css/consumer/storeList.css" />
<div class="banner">
  <img id="banner" class="banner-image" src="/img/lettering-cake-banner.png" />
</div>

<nav class="navbar2 navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">지역선택</a><span id="province-city"></span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% for (let i = 0; i < province.length; i++) { %>
        <li>
          <a
            class="nav-link province"
            href="/category/<%= category.categoryId %>?provinceId=<%= province[i].provinceId %>"
            ><%= province[i].provinceName %></a
          >
        </li>
        <% } %>
      </ul>
      <div>
        <label class="rate-order" for="rate-order">평점순</label>
        <input type="radio" name="order" id="rate-order" checked />
        <label class="sell-order" for="sell-order">판매순</label>
        <input type="radio" name="order" id="sell-order" />
      </div>
    </div>
    <hr />
    <div class="collapse navbar-collapse" id="navbarContent"></div>
    <ul class="navbar-nav">
      <% for (let i = 0; i < city.length; i++) { %>
      <li class="nav-item">
        <a
          class="nav-link city"
          href="/category/<%= category.categoryId %>?provinceId=<%= city[i].provinceId %>&cityId=<%= city[i].cityId %>"
          ><%= city[i].cityName %></a
        >
      </li>
      <% } %>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row gx-4 gx-lg-5">
    <% for (let i = 0; i < storeList.length; i++) { %>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title text-center"><%= storeList[i].storeName %></h3>
          <img class="card-img" src="<%= storeList[i].image %>" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i> 평점 : <%= storeList[i].star %> / 5</li>
              <li><i class="xi-maker" style="color: red"></i> 위치 : <%= storeList[i].location %></li>
              <li><i class="xi-time-o"></i> 영업시간 : <%= storeList[i].operatingHour %></li>
              <li><i class="xi-truck"></i> 픽업/배달 : <%= storeList[i].type %></li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto text-center bg btn-sm" href="/store/<%= storeList[i].storeId %>">상품 보기</a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <nav aria-label="Page navigation example mx-auto">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<script>
  var link = document.location.href;
  var split_link = link.split('/');
  for (var i = 1; i < 6; i++) {
    if (split_link[split_link.length - 1] == i) {
      document.getElementById('banner').src = "/img/"+i+".png";
  }
  }
  var nav_link = document.getElementsByClassName('nav-link');
  for(var j=0;j<nav_link.length;j++){
    if(nav_link[j].href == link){
      document.getElementById('province-city').innerHTML = nav_link[j].innerText;
      break;
    }
  }
</script>
